.main {
  width: 15rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #ccc;
  overflow: hidden;
  gap: 0.5rem;
  padding: 1rem;
  background-color: white;
}

.productImage {
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}
.imageWrapper {
  width: 200px;
  height: 200px;
  min-height: 200px;
}
